body {
  margin: 0;
  padding: o;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
